.card {
  margin-bottom: 10px;
  width: 230px;
  max-height: 150px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.card-title {
  font-size: 12px;
  margin-bottom: .35rem;  
}



.card-body {
  max-height: 160px;
}
p.card-text {
  max-height: 65px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  width: 200px;
}
.text-muted {
  font-size: 10px;
}
