/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.col.custom-col {
  -ms-flex:0 0 20%;
  flex:0 0 20%;
  height:inherit;
  border-radius:5px;
}


.card {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.card:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.card {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.inline-edit{
  cursor: text;
  background-color: rgb(255, 246, 234);
  border: blue;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.card:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

app-list{
  margin-right: 10px;
}
